.navbar {
  list-style: none;
  display: flex;
  background-color: #333;
  padding: 0;
  margin: 0;
}

.navbar li {
  position: relative;
}

.navbar a {
  display: block;
  padding: 15px 20px;
  color: white;
  text-decoration: none;
}

.navbar a:hover {
  background-color: #555;
}

.dropdown {
  position: relative;
}

.dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #444;
  list-style: none;
  padding: 0;
  margin: 0;
  min-width: 160px;
}
.dropdown-menu li a {
  padding: 10px 15px;
}
.dropdown:hover .dropdown-menu{
  display: block;
}
/*.dropdown:hover .dropdown-menu {
  display: block;
}*/