.navbar {
  display: flex;
  background-color: #333;
}

.navbar a {
  padding: 15px 20px;
  color: white;
  text-decoration: none;
}

.dropdown {
  position: relative; /* REQUIRED */
}

.dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #444;
  list-style: none;
  padding: 0;
  margin: 0;
  min-width: 160px;
}

.dropdown-menu li a {
  padding: 10px 15px;
  display: block;
}

.dropdown:hover .dropdown-menu {
  display: block;
}
